body {
  font-family: Helvetica, Arial, sans-serif;
}

div.flexOuterCenter,
div.flexOuterStart,
div.flexOuterEnd,
div.flexOuterSpace,
div.row_throw {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.flexOuterStart {
  justify-content: flex-start;
}

div.flexOuterEnd {
  justify-content: flex-end;
}

div.flexOuterSpace,
div.row_throw {
  justify-content: space-around;
}

div.die {
  margin: 1em;
  padding: 0.75em;
}

div.diegram {
  width: 5em;
  height: 5em;
  margin: 1em;
  border: 2px solid black;
  padding: 6px 0 0 0;
  border-radius: 4px;
}

div.diegram_highlight {
  border: 2px solid firebrick;
}


div.go_button {
  background-color: cornflowerblue;
  color: white;
  width: 4em;
  border-radius: 3px;
  padding: 0.75em;
  margin: 1em;
  text-align: center;
  cursor: pointer;
}

div.go_button:hover {
  cursor: pointer;
  background-color: black;
}

div.row_tag {
  padding: 8px;
  background-color:black;
  color: white;
  font-weight: 800;
  font-size: 10px;
  border-radius: 4px;
  text-align: center;
  opacity: 0.6;
  position: absolute;
  left: 8%;
}

@media only screen and (min-width: 420px) {
  div.row_tag {
    left: 26%;
  }
}

@media only screen and (min-width: 720px) {
  div.row_tag {
    left: 36%;
  }
}

div.die_face,
div.row_label,
div.row_score,
div.total_face,
div.total_label,
div.total_score,
div.roll_face,
div.roll_label,
div.roll_score,
div.face_label,
div.label_label,
div.score_label {
  padding: 8px 16px;
  margin: 2px;
  max-width: 60px;
  min-width: 60px;
  //border: 1px solid black;
}

div.face_label,
div.label_label,
div.score_label {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}

div.total_face,
div.total_label,
div.total_score {
  font-weight: 800;
}

div.die_face {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
}

/*
div.label_label,
div.row_label,
div.roll_label,
div.total_label {
  min-width: 96px;
  min-width: 96px;
}
*/

div.row_label,
div.row_score {
  padding-top: 16px;
}

div.face_label,
div.label_label,
div.score_label,
div.row_label,
div.roll_label,
div.total_label {
  text-align: center;
}

div.row_score,
div.total_score,
div.roll_score {
  text-align: right;
}


#bibbity,#bobbity,#boo {
  width: 40px;
  height: 40px;
  color: white;
}

#bibbity {
  background-color: red;
}

#bobbity {
  background-color: blue;
}

#boo {
  background-color: green;
}
