body {
  font-family: Helvetica, Arial, sans-serif;
}

div.flexOuterCenter,
div.flexOuterStart,
div.flexOuterEnd {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.flexOuterStart {
  justify-content: flex-start;
}

div.flexOuterEnd {
  justify-content: flex-end;
}

div.die {
  margin: 1em;
  padding: 0.75em;
}

div.diegram {
  width: 5em;
  height: 5em;
  margin: 1em;
  border: 1px solid red;
}

div#roll_button {
  background-color: cornflowerblue;
  color: white;
  width: 4em;
  border-radius: 3px;
  padding: 0.75em;
  margin: 1em;
  text-align: center;
  cursor: pointer;
}

div#go_button:hover {
  cursor: pointer;
  background-color: black;
}

#bibbity,#bobbity,#boo {
  width: 40px;
  height: 40px;
  color: white;
}

#bibbity {
  background-color: red;
}

#bobbity {
  background-color: blue;
}

#boo {
  background-color: green;
}
